h1 {
   font-size: 5em;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   padding: 10px;
   margin: 30px;
   font-weight: 900;
   text-decoration: none;
   color: crimson;
   background-color: white;
}

h2 {
   font-size: 3em;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   padding: 10px;
   margin: 30px;
   font-weight: 900;
   color: seagreen;
}

p {
   font-size: 20px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   padding: 3px;
   margin-left: 30px;
   font-weight: 100;
   color: coral;
}

.logo {
   background-size: cover;
   background-image: url("https://appacademy.github.io/styleguide/assets/logo/logo-emblem-black-1000.png");
   background-color: crimson;
   height: 500px;
   width: 500px;
   margin: 0 50px 0 50px;
}